<template name="bookList">
  {{#if stats.bookCount}}
    <div class="center-text">{{stats.bookCount}} books:</div>
    {{> filterBar}}
    {{else}}
    <h1 class="butler-color mt0" style="line-height:2;">Your library is empty— <br><a href="/add">Add</a> or <a href="/IO">import</a> books to get started!</h1>
  {{/if}}
  
  <br>
  <ol class="book-list" style="list-style-type:none;">
    {{#each books}}
      {{> bookListItem}}
    {{/each}}
  </ol>
</template>

<template name="bookListItem">
  <li>
    {{#if publisherMetadata.imgUrl}}
      <img src="{{publisherMetadata.imgUrl}}" alt="" >
      {{else}}
      <img src="/apple-touch-icon.png" alt="" style="width:3rem;" >
    {{/if}}
    <a class="mb0" href="/{{toSlug title}}/{{_id}}">
      <h4 class="mt0 mb0" style="font-weight:normal">
        <strong class="mt0">{{title}}</strong> <br class="hidden-md-plus"> by <em class="mt0">{{author}}</em></h4>
    </a>
    <span class="meta">
    <span id="stars{{_id}}"><i class="fa fa-star"></i> {{rating}}</span>
    <span class="meta-spacer"></span> 
    {{#if isbn}}
      <i class="fa fa-barcode"></i> {{isbn}} 
      <span class="meta-spacer"></span> 
    {{/if}}
    <i class="fa fa-calendar"></i> {{dateRead}}
    
    <span class="meta-spacer"></span> 
    
    {{#if publisherMetadata.pageCount}}
      <i class="fa fa-file-text"></i> {{publisherMetadata.pageCount}} 
    {{/if}}
    
    {{#if tags}}
      <br class="hidden-md-plus">
      <span class="meta-spacer visible-md-plus"></span>
      <span class="tags" style="display:inline-block;">
        <i class="fa fa-tags butler-color"></i>
        {{#each tags}}
         <strong><a href="/tags/{{this}}">{{this}}</a></strong>, 
        {{/each}}  
      </span>
    {{/if}}
    
  </span>
  <br clear="all">
  
  </li>
</template>