<template name="footer">
  <br clear="all">
  <hr class="plain-hr">
  <footer class="center-text site-footer">
    <span class="site-footer__copyright lnum">&copy; 2015-{{currentYear}}</span>
    <span class="meta-spacer"></span> 
    <span class="site-footer__author">
      Built by <a href="http://curiositry.github.io">Curiositry</a> 
    </span>
    <span class="meta-spacer"></span>
    <span class="site-footer__social">
      Say hi <a href="http://twitter.com/curiositry">on Twitter &rarr;</a>
    </span>
  </footer><br>
</template>