<template name="header">
  <header class="main-header">
    <img src="/apple-touch-icon.png" class="mt0" alt="ReaDB Logo">
    <a href="/"><h1 class="mb0 serif">ReaDB</h1></a>
    <h4>Your Private Digital Bookshelf</h4>
  </header>
  <br>
</template>


<template name="navigation">
  <nav role="navigation" >
    <ul>
      <li class="sans-serif">
        {{> loginButtons}}
      </li>
      <li class="sans-serif">
        <a href="/"><i class="fa fa-home"></i> Home</a>
      </li>
      <li class="sans-serif">
        <a href="/about"><i class="fa fa-question-circle"></i> About</a>
      </li>
      <li class="sans-serif">
        <a href="/search"><i class="fa fa-search"> </i> Search</a>
      </li>
      <li class="sans-serif">
        <a href="/add"><i class="fa fa-plus"></i> Add Book</a>
      </li>
      <li class="sans-serif">
        <a href="/IO"><i class="fa fa-download"></i> Import / Export books</a> 
      </li>

      {{#if currentUser}}
        {{#if user}}
          <li class="sans-serif">
            <a href="/user/{{user}}"><i class="fa fa-user"></i> Your Profile</a>
          </li>
        {{/if}}
      {{/if}}    
    </ul>
  </nav>
</template>