<template name="IO">
  Import books from:
  <a href="/import/json" class="btn">JSON</a>
  <a href="/import/csv" class="btn">CSV</a>
  
  Export Library as:
  <a href="/export/json" class="btn">JSON</a>
  <a href="/export/csv" class="btn">CSV</a>
</template>


<template name="exportJSON">
  <textarea id="json">{{JSON}}</textarea><br clear="all"><br>
  <a class="btn m0a" href="data:application/json;charset=utf-8, {{JSON}}" download="readb-books.json">Download books.json</a>
</template>

<template name="exportCSV">
  <textarea id="csv">{{encodedCSV}}</textarea><br clear="all"><br>
  <a class="btn m0a" href="data:text/csv;charset=utf-8, {{encodedCSV}}" download="readb-books.csv">Download books.csv</a>
</template>

<template name="importCSV">
  <form >
    <input class="input-file" id="fileInput" type="file" name="files[]">
    <input type="submit" style="padding:0.5rem" class="btn" id="importCSV" value="Import .csv" />
  </form>
</template>

<template name="importJSON">
  <form >
    <input class="input-file" id="fileInput" type="file" name="files[]">
    <input type="submit" style="padding:0.5rem" class="btn" id="importJSON" value="Import .JSON" />
  </form>
</template>