<template name="IO">
  <div class="center-text mt0" style="line-height:3;font-size:1rem;">
    <h1 class="mt0">Import or Export Books:</h1>
  Import books: <br>
  <a href="/import/json" class="btn">Import&nbsp;books&nbsp;from&nbsp;.json&nbsp;file</a>
  <a href="/import/csv" class="btn">Import&nbsp;books&nbsp;from&nbsp;.csv file</a>
  <hr style="line-height:1.5;">
  Export library: <br>
  <a href="/export/json" class="btn">Download&nbsp;readb-books.json</a>
  <a href="/export/csv" class="btn">Download&nbsp;readb-books.csv</a>
</div>
</template>


<template name="exportJSON">
  <textarea id="json">{{JSON}}</textarea><br clear="all"><br>
  <a class="btn m0a" href="data:application/json;charset=utf-8, {{JSON}}" download="readb-books.json">Download books.json</a>
</template>

<template name="exportCSV">
  <textarea id="csv">{{encodedCSV}}</textarea><br clear="all"><br>
  <a class="btn m0a" href="data:text/csv;charset=utf-8, {{encodedCSV}}" download="readb-books.csv">Download books.csv</a>
</template>

<template name="importCSV">
  <form >
    <input class="input-file" id="fileInput" type="file" name="files[]">
    <input type="submit" style="padding:0.5rem" class="btn" id="importCSV" value="Import .csv" />
  </form>
</template>

<template name="importJSON">
  <form >
    <input class="input-file" id="fileInput" type="file" name="files[]">
    <input type="submit" style="padding:0.5rem" class="btn" id="importJSON" value="Import .JSON" />
  </form>
</template>