<template name="login">
  <div class="center-text">
    <!-- <h2 class="serif butler-color"><em>You need a free ReaDB account to access this page:</em></h2>  <br> -->
    <h2 class="serif butler-color"><em>Create a free ReaDB account or sign in below:</em></h2>  <br>
    <a class="login-btn btn" id="login-sign-in-link" >Login&nbsp;<i class="fa fa-sign-in"></i></a>
    <span class="hidden-sm"> &nbsp;&nbsp;—&nbsp;or&nbsp;—&nbsp;&nbsp; </span>
    <a class="signup-btn btn" id="signup-link">Sign&nbsp;Up&nbsp;<i class="fa fa-plus-square-o"></i></a>
  </div>
  <br>
  {{>about}}
</template>