<template name="search">
  <br>
  <div>
    {{> EasySearch.Input index=booksIndex event="enter"}}
    
    {{#EasySearch.IfSearching index=booksIndex}}
    <br clear="all">
      <i class="fa fa fa-spinner fa-pulse fa-3x butler-color"></i><br> <span class="serif italic">loading...</span>
    {{/EasySearch.IfSearching}}
  </div>
  
  {{> EasySearch.LoadMore index=booksIndex}}

  {{#EasySearch.IfNoResults index=booksIndex}}
    <br>
    <h1 class="butler-color mt0">No results found…</h1>
  {{/EasySearch.IfNoResults}}

  {{#EasySearch.Each index=booksIndex }}
    <ol class="book-list" style="list-style-type:none;">
      {{> bookListItem}}
    </ol>
  {{/EasySearch.Each}}
  
  {{> EasySearch.Pagination index=booksIndex maxPages=10}}

  
  <!-- {{> esLoadMoreButton index="books" class="btn" content="+ Load More Books ..."}} -->

</template>