<template name="search">
  <h1 class="serif">Search for book:</h1>
  <div>
  
    {{> EasySearch.Input index=booksIndex }}
    
    <!--attributes=(placeholder: "Search for this") --> 
    
    {{#EasySearch.IfSearching index=booksIndex}}
    <br clear="all">
      <i class="fa fa fa-spinner fa-pulse fa-3x butler-color"></i><br> <span class="serif italic">loading...</span>
    {{/EasySearch.IfSearching}}
  </div>
  
  {{#EasySearch.IfNoResults index=booksIndex}}
    <br>
    <h1 class="butler-color mt0">No results found…</h1>
  {{/EasySearch.IfNoResults}}
{{#EasySearch.IfInputEmpty index=booksIndex}}
<br>
<h1 class="butler-color mt0">Start typing…</h1>

{{else}}
    <ol class="book-list" style="list-style-type:none;">
      {{#EasySearch.Each index=booksIndex }}  
        <a href="{{appUrl}}/{{toSlug title}}/{{__originalId}}">
          {{truncate title "80" " …"}}
        </a>
        <br>
      {{/EasySearch.Each}}
    </ol>
    
    <br>
    {{> EasySearch.Pagination index=booksIndex maxPages=10  style="display:inline;"}}
  {{/EasySearch.IfInputEmpty}}
  <br>
</template>