<template name="viewUserProfile">
  <div class="center-text">
    <h1 style="font-weight:400;">Hello, <strong>{{username}}</strong>!</h1>
    {{#if stats.bookCount}}
    <span class="user-statistics">
    You have <strong> {{stats.bookCount}} </strong> books in your library, with an average of <strong> {{stats.avgPageCount}} </strong> pages per book, or <strong>{{stats.avgWordCount}}</strong> words per book. You’ve read a total of <strong>{{stats.pagesRead}}</strong> pages, which is around <strong>{{stats.wordsRead}}</strong> words. Congratulations!
  </span>
  {{else}}
  <h1 class="butler-color">Hmm, looks like you haven’t filled your shelves yet. Would you like to <a href="/add">add a book</a> or <a href="/IO">import</a> a collection?</h1>
  {{/if}}
    <br><br>
    <a href="#" class="btn btn--cta" id="deleteBooks">
      <i class="fa fa-warning"></i>Delete All My Books
    </a>
     &nbsp;<br><br>&nbsp; 
    <a href="#" class="btn" id="updateLibraryMetadata">
      <i class="fa fa-info-circle"></i>Update Library Metadata
    </a> 
    
    <br>
    <br>
    
    <input type="text" name="username" id="newUsername" placeholder="username">
    <button type="submit btn" id="updateUsername">Update Username</button>
  </div>
</template>