<template name="viewBook">
  <h2 class="mb0">{{book.title}}</h2>
  
  <em class="serif" style="margin-top:0.5rem;">By</em> {{book.author}}<br>

  <div class="serif">
{{#markdown}}{{{book.review}}}{{/markdown}}
  </div>
  <br>
  <style>
    .meta.toolbar {
      padding: 0.5rem;
      color: #5f1b00;
    }
    
    .meta.toolbar .meta-spacer::after{
      color: white;
    }
  </style>
  
  <span class="meta toolbar" >
    <i class="fa fa-star"></i> {{book.rating}} 
    <span class="meta-spacer"></span> 
    {{#if book.isbn}}
      <i class="fa fa-barcode"></i> {{book.isbn}} 
      <span class="meta-spacer"></span> 
    {{/if}}
    <i class="fa fa-calendar"></i> {{book.dateRead}}
    {{#if book.tags}}
      <span class="meta-spacer"></span>
      <i class="fa fa-tags butler-color"></i>
      {{#each book.tags}}
        <strong><a href="/tags/{{this}}">{{this}}</a></strong>, 
      {{/each}}
    {{/if}}
    <span class="meta-spacer"></span> 
    <i class="fa fa-file-text"></i> {{book.publisherMetadata.pageCount}}
  </span>
  
  
  <div class="toolbar" style="margin-top:1px">
    <a href="/b/{{book._id}}/delete">
      <i class="fa fa-trash-o" style="color:#990000;cursor:pointer;" ></i>
    </a>
    <a>
      <i class="fa fa-arrow-down" style="color:grey;cursor:pointer;" id="decreaseMetadataIndex"></i>
      <i class="fa fa-info-circle" style="color:grey;cursor:pointer;" id="updateBookMetadata"></i>
      <i class="fa fa-arrow-up" style="color:grey;cursor:pointer;" id="increaseMetadataIndex"></i>
    </a>
    <a href="/b/{{book._id}}/edit">
      <i class="fa fa-edit" style="color:#000033;"></i>
    </a>
  </div>  
  <br>
  
  {{#if book.publisherMetadata.imgUrl}}
    <img src="{{book.publisherMetadata.imgUrl}}" alt="{{book.title}} cover image" class="fl mt0" style="padding-right:2rem;"/>
  {{/if}}
  <span class="serif">{{book.publisherMetadata.publisherDescription}}</span>
  
  {{#if book.children}}
  <table style="font-size:0.9rem">
    <thead>
      <td>Title </td>
      <td>Author</td>
      <td>Rating</td>
      <td>Review</td>
    </thead>
    <tbody>
    {{#each book.children}}
      <tr>
        <td>{{title}} </td>
        <td>{{author}}</td>
        <td>{{rating}}</td>
        <td>{{review}}</td>
      </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}
</template>