<template name="viewBook">
  <h2 class="mb0">{{book.title}}</h2>
  
  By <em class="mt0">{{book.author}}</em><br>

  <div class="serif">
{{#markdown}}{{{book.review}}}{{/markdown}}
  </div>
  
  <hr>
  
  <span class="meta">
    <i class="fa fa-star"></i> {{book.rating}} 
    <span class="meta-spacer"></span> 
    {{#if book.isbn}}
      <i class="fa fa-barcode"></i> {{book.isbn}} 
      <span class="meta-spacer"></span> 
    {{/if}}
    <i class="fa fa-calendar"></i> {{book.dateRead}}
    {{#if book.tags}}
      <span class="meta-spacer"></span>
      <i class="fa fa-tags butler-color"></i>
      {{#each book.tags}}
        <strong><a href="/tags/{{this}}">{{this}}</a></strong>, 
      {{/each}}
    {{/if}}
    <span class="meta-spacer"></span> 
    <i class="fa fa-file-text"></i> {{book.publisherMetadata.pageCount}}
  </span>
  
  <hr>
  
  {{#if book.publisherMetadata.imgUrl}}
    <img src="{{book.publisherMetadata.imgUrl}}" alt="{{book.title}} cover image" style="float:left;padding-right:1rem;"/>
  {{/if}}
  <span class="serif">{{book.publisherMetadata.publisherDescription}}</span>
  
  {{#if book.children}}
  <table style="font-size:0.9rem">
    <thead>
      <td>Title </td>
      <td>Author</td>
      <td>Rating</td>
      <td>Review</td>
    </thead>
    <tbody>
    {{#each book.children}}
      <tr>
        <td>{{title}} </td>
        <td>{{author}}</td>
        <td>{{rating}}</td>
        <td>{{review}}</td>
      </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}
  <hr>
  <span class="book-actions-toolbar">
    <i class="fa fa-trash-o" style="color:#990000;cursor:pointer;" id="deleteBook"></i>
    <span class="meta-spacer"></span>
    <i class="fa fa-arrow-down" style="color:tan;cursor:pointer;" id="decreaseMetadataIndex"></i>
    <i class="fa fa-info-circle" style="color:tan;cursor:pointer;" id="updateBookMetadata"></i>
    <i class="fa fa-arrow-up" style="color:tan;cursor:pointer;" id="increaseMetadataIndex"></i>
    <span class="meta-spacer"></span>
    <a href="/book/{{book._id}}/edit"><i class="fa fa-edit" style="color:#000033;"></i></a>
  </span>  
</template>