
.book-list li {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
}

.book-list img {
  float:left;
  display: inline;
  height: 4rem;
  margin-right: 1.5rem;
  padding-top: 0rem;
}