
.book-list li {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
  clear:both;
}

.book-list .meta{
  float:left;
  margin-top: 0.5rem;
  display: inline-block;
  @include breakpoint(mbl) {
    font-size: 0.8rem;
  }
  @include breakpoint(sm) {
    font-size: 0.8rem;
  }
  @include breakpoint(lg) {
    font-size: 1rem;
  }
}

.book-list img {
  float:left;
  display: inline;
  height: 4rem;
  margin-right: 1.5rem;
  padding-top: 0rem;
}