header h1 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  @extend .typgr8-beta;
  color: $primary-color;
}

header img {
  @include breakpoint(lg){
    position: relative;
    top: 0.25rem;
    margin-right: 1rem;
    display: inline;
    float: left;
  }
  height: 50px;
}

header h4 {
  margin-bottom: 0;
  font-weight: 400;
  color: darken($primary-color, 20);
  font-size:0.8rem;
  margin-top:0.5rem;
  font-family:$header-font-stack;
  text-transform: uppercase;
  
}


#toggle-sidebar {
  font-size:1rem;
  position: fixed;
  top: 0rem;
  left:0rem;
  z-index: 100;
  border-bottom: none;
  background-color: $tertiary-color;
  padding: 0.5rem 1rem;
  border-right: 1px solid $interactive-color;
  border-bottom: 1px solid $interactive-color;  
}

.nav-open #toggle-sidebar {
  font-size: 1.25rem;
  border:none;
  left:17.8rem;
  top:0.5rem;
  background-color: inherit;
  padding: 0;
}

.main-header {
  margin-left: 2rem;
  margin-top: 2.5rem;
}

.sidebar {
  background-color: $tertiary-color;
  overflow:auto;
}

.sidebar li {
  border-bottom: 1px solid $bg-color;
  display: block;
  width: 100%;
  margin-top: 0;
}

.sidebar nav .meta-spacer {
  display: none;
}

nav a {
  margin-top: 0;
  font-family: $interface-font-stack;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight:900;
  letter-spacing: 0.05rem;
  padding: 1rem 2rem;
  width: 100%;
  display: block;
  border-bottom: none;
  &:hover, &:focus {
    background-color: $primary-color;
    color: $tertiary-color;
    border-bottom: none;
  }  
}

footer {
  font-family: $interface-font-stack;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight:900;
  letter-spacing: 0.05rem;
}