textarea {
  width: 100%;
  height: 200px;
  height: 50vh;
  font-weight: 400;
}

form {
  text-align: center;
}

select {
  border: 2px solid $tertiary-color;
}

#submit-button {
  clear:both;
  float: right;
  width: 25%;
  min-width: 200px;
}