.site-footer span {
  display: block;
  margin: 0;
  @include breakpoint(lg) {
    display: inline;
    margin-top: auto;
  }
}

.site-footer .meta-spacer::after {
    content: '';
    @include breakpoint(lg) {
      content: ' • ';
    }
}