 *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* + * {
  margin-top: 1rem;
}

html {
  margin: 0 !important;
  background-color: $bg-color;
}

body {
  margin: 0 !important;
}

article {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 4rem;
}

.page-template {
  padding-top: 0;
}

.math * + *{
  margin-top: 0;
}

.math{
  text-align: center;
  font-size:1.65rem;
  padding:.55rem;
  max-width: 100%;
  overflow: auto;
}

.container {
  // margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  max-width: 850px;
  @include breakpoint(sm) {
    padding: 1.5rem;
    padding-top: 0;
  }
}

nav li {
  display: inline;
}

img {
  max-width: 100%;
}

.jslghtbx-contentwrapper{
  max-height: 110vh !important;  
}

a {
  text-decoration: none;
}

em, i {
  font-style: italic;
}

.post-teaser__title a{
  border-bottom: none;
}

pre[class*="language-"], .token.operator{
  background: $tertiary-color !important;
}

pre[class*="language-"]{
  margin: 0 0 1.7rem 0 !important;
  padding: 0.5rem 0.8rem !important;
}

code[class*="language-"]{
  text-shadow: none !important;
  color: #444 !important;
  font-family: $mono-font-stack !important;
  // padding: 0.25rem 0.25rem !important;
}

pre {
  padding: 0.5rem 0.8rem;
  margin-bottom: 2rem;
}

code {
  padding: 0.15rem 0.25rem;
  position: relative;
  top: 0.25rem;
}

pre code {
  top:0;
}



pre, code{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid tint($active-color, 20);
  background-color: $tertiary-color;
  white-space: pre-wrap;
  font-size:0.8rem;
  font-family: $mono-font-stack;
}

pre code {
  padding: 0;
  border: none;
}

ol, ul {
  padding-left: 0;  
}

kbd {
  font-family: $interface-font-stack;
  font-size:0.8rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem 0.125rem 0.5rem;
  margin: 0.25rem;
  border: 1px solid $butler-color;
  background-color: $tertiary-color;
  line-height: 2.25;
  border-radius: 0.15rem;
}

ol ol, ul ul,
ul ol, ol ul {
  margin-top: .835rem;  
  margin-left: 1.65rem;
}

mark {
  background-color: $tertiary-color;
}

li + li {
  margin-top: .825rem;
}

li {
  font-family: $text-font-stack;
}

input {
  height: (100%);
}

input, button, textarea {
  padding: 0.5rem 1rem;
  border: 1px solid $tertiary-color;
  box-shadow: none;
  font-weight: 700;
  font-family: $interface-font-stack;
}

input:focus, input:active, button:focus, button:active {
  outline: none;
  border: 1px solid $interactive-color;
}

hr{
  display: block;
  margin: 3rem auto;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: $tertiary-color 1px double;
  text-align: center;
}

hr:after {
  font-family: $text-font-stack;
  position: relative;
  bottom: 0.4rem;
  display: inline;
  padding: 0 1rem;  
  content: '* * *';
  font-size: 1.954rem;
  line-height: 0;
}

hr.plain-hr:after {
  display: none;
}

.meta-spacer:after {
  color: $tertiary-color;
  content: ' • ';
  padding:0 0.5rem;
  font-weight: 700;  
  font-family: $interface-font-stack;
}

article > p:not(.no-dropcap):first-of-type {
  @include typgr8-dropcap(
  $typgr8-dropcap-float-position,  
  $typgr8-dropcap-font-size,
  $typgr8-dropcap-font-family,
  $typgr8-dropcap-txt-indent,
  $typgr8-dropcap-margin,
  $typgr8-dropcap-padding,
  $typgr8-dropcap-color,
  $typgr8-dropcap-line-height,
  $typgr8-dropcap-bg);
  
  &::first-letter {
    font-weight:900;
    color: shade($butler-color, 75);
  }
  &::first-line {
    text-transform: uppercase;
    @extend .sc;
  }
}

_:-moz-tree-row(hover), article > p:not(.no-dropcap):first-of-type::first-letter {
  margin-top: 0.35rem;
}

// hr + p {
//   @include typgr8-dropcap(
//   $typgr8-dropcap-float-position,  
//   $typgr8-dropcap-small-font-size,
//   $typgr8-dropcap-font-family,
//   $typgr8-dropcap-txt-indent,
//   $typgr8-dropcap-small-margin,
//   $typgr8-dropcap-small-padding,
//   $typgr8-dropcap-color,
//   $typgr8-dropcap-line-height,
//   $typgr8-dropcap-bg);
//   
//   &::first-letter {
//     font-weight:900;
//     color: shade($butler-color, 75);
//   }
//   &::first-line {
//     text-transform: uppercase;
//     @extend .sc;
//   }
// }

// 
// br {
//   margin-top: 0;
// }