/**
* ◊TYPOGRAPHY
* -----------
* NOTE: The typographic boilerplate I’m using encorporates 
* slightly modified version of the Typeplate typescale mixins.
* Check out typeplate at: www.typeplate.com
* It uses a major third typescale. */


// Start with the basics
body {
  font-family: $interface-font-stack;
  line-height: $line-height;
  font-weight: $base-font-weight;
  font-size: 16px;
  @include respond-to(sm){
    font-size: 18px;
  }
  @include respond-to(md){
    font-size: 21px;
  }
}

// Get some nice typeographic scale going
@include type-headings;
@include type-headings-style;

// Base header styles
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
  color: $secondary-color;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

// Nice margins to match header sizing
h1, h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h3, h4 {
  margin-bottom: 1.5rem;
}

// Readable body text
p {
  font-family: $text-font-stack;
}

// Put meta kinds of things in sans-serif
footer, 
aside {
  font-family: $interface-font-stack;
}